@charset "utf-8";
/* CSS Document */
body,p,form,input,button,dl,dt,dd,ul,ol,li,h1,h2,h3,h4{margin:0;padding:0;list-style:none;}
button,input,select,textarea{ font:12px Helvetica, Arial, sans-serif; color:#333;}
/*全屏设置*/
html{ width: 100%; height: 100%;}
body{ font-family:"Microsoft YaHei", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; position: relative; height: 100%; min-height: 100%; height: auto !important; color: #D8D9DA; background-color: #141414;
 }
input,select,textarea{font-size:100%; outline: none;}
textarea{ resize:none;}
.clearfix:after{display:block;content:".";height:0;visibility:hidden;clear:both;font-size:0;line-height:0;}
.clearfix{*zoom:1;}

em{font-style:normal;}

a{text-decoration:none; color:#52cbeb;}
a.act,a:hover{text-decoration:none;color:#52cbeb;}
a.blue_link{color:#06c;}
a.blue_link:hover{color:#f60;}
img{border:0 none;vertical-align:top;}
button::-moz-focus-inner{padding:0;border:none;}
.wrap{width:100%;}
.fl{float:left;}
.fr{float:right;}
.mt{margin-top:10px;}
.ml{margin-left:10px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mb{margin-bottom:10px;}
.mb2{ margin-bottom: 20px;}
.mb0{ margin-bottom: 0px;}
.none{display:none;}

.font1{ font-size: 14px;}
.font2{ font-size: 16px;}
.color1{ color: #52cbeb;}
.color2{ color: #ff0000;}
.bgBlack{ background-color: #141414;}
.bgBlue{ background-color: #52cbeb;}
.bgGray{ background-color: #1f1d1d;}
.bgGray-bor{ background-color:#1f1d1d; border:1px solid #292929;}

.form-control::-moz-placeholder {
 color:#fff;
 opacity:1
}
.form-control:-ms-input-placeholder {
 color:#fff
}
.form-control::-webkit-input-placeholder {
 color:#fff
}
/*滚动条样式自定义*/
::-webkit-scrollbar {
 width:8px;
 height:8px
}
::-webkit-scrollbar:hover {
 height:8px
}
::-webkit-scrollbar-button:end:increment,::-webkit-scrollbar-button:start:decrement {
 display:none
}
::-webkit-scrollbar-button:horizontal:decrement {
 display:none
}
::-webkit-scrollbar-button:horizontal:increment {
 display:none
}
::-webkit-scrollbar-button:vertical:decrement {
 display:none
}
::-webkit-scrollbar-button:vertical:increment {
 display:none
}
::-webkit-scrollbar-button:horizontal:decrement:active {
 background-image:none
}
::-webkit-scrollbar-button:horizontal:increment:active {
 background-image:none
}
::-webkit-scrollbar-button:vertical:decrement:active {
 background-image:none
}
::-webkit-scrollbar-button:vertical:increment:active {
 background-image:none
}
::-webkit-scrollbar-track-piece {
 background-color:transparent
}
::-webkit-scrollbar-thumb:vertical {
 height:50px;
 background:-webkit-gradient(linear,left top,right top,color-stop(0,#3a3a3a),color-stop(100%,#3a3a3a));
 border:1px solid #000;
 border-top:1px solid #000;
 border-left:1px solid #000
}
::-webkit-scrollbar-thumb:horizontal {
 width:50px;
 background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3a3a3a),color-stop(100%,#3a3a3a));
 border:1px solid #000;
 border-top:1px solid #000;
 border-left:1px solid #000
}  

