@charset "utf-8";
/* CSS Document */
/*在css基础上增加,修改; 默认即可以去掉*/
/*背景色*/
body{ color: #000; background-color: #eee;}
.bgdark{ background-color: #fbfbfb;}
/*title*/
.title{color: #999;  border: none;/*去掉border*/}
/*table*/
.fixed-table-container{ background-color: #fff; border-top: 2px solid #ddd;}
.bootstrap-table .table thead>tr>th, .bootstrap-table .table tbody>tr>td{ border-left-color:#ccc;border-bottom-color:#ccc; }
.bootstrap-table .table tbody>tr>td{ color: #666;}
.bootstrap-table .table tbody>tr:hover{ background-color:#f8f8f8;}
.fixed-table-container tbody .selected td{ background-color:#f8f8f8;}

/*table-toolbar*/
.fixed-table-toolbar{ background-color: transparent;}/*可直接去掉原代码*/
/*button*/
.btn-default{ color: #333;background-color: #fff;border-color: #ccc;/*bootstrap默认样式*/}
/*../select*/
.input-group-btn:last-child>.btn{color: #333;background-color: #fff;border:1px solid #ccc; /*bootstrap默认样式*/}
/*分页*/
.fixed-table-pagination{ color: #000;}
/*table-loading*/
.fixed-table-loading{ background-color: rgba(255, 255, 255, 0.87);}
.fixed-table-loading .glyphicon-animate { color: #999;}

/*collapse折叠*/
.bgCollapse .collapse-header{ padding-left: 30px;}
.bgCollapse .control-label{ width: 120px; height: 34px; line-height: 34px; padding-left: 10px; background-color: #eaeaea; }
.bgCollapse .form-control{ color: #fff; width: 250px;}
.bgCollapse .form-group{ margin: 5px 30px;}
.bgCollapse .close{ color: #fff; opacity: 1;}
.bgCollapse .col-footer{ display:}
