@charset "utf-8";
/* CSS Document */
/*组件化*/
.dropdown-menu li{ color: #333;}
/*背景色*/
body{ color: #000; background-color: #eee;}
.bgdark{ background-color: #fbfbfb;}
.title{color: #999;  border: none;}
/*header*/
.navbar-fixed-top .navbar-collapse .navbar-right{ padding-right: 20px;}
.navbar-fixed-top .navbar-collapse .navbar-main{ font-size: 16px;}
.navbar-inverse .navbar-nav>li>a{ color: #fff;}
nav.navbar-inverse{ background-color: #21252e; border: none;}
.toggleMenu{color: #fff;margin-top: 7px;font-size: 20px;}
.navbar-brand{ display: inline-block; font-size: 20px; width: 200px;}
.navbar-toggle{ color: #fff;}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover { color:#fff; background-color:#52cbeb; }

.wrapper{ width: 100%; padding-top: 50px; padding-bottom: 60px; min-height: 100%;}

.sideMenu{ width:200px; min-height:100% !important; background:#2d3341; position: fixed; top: 0px; padding: 50px 0px 50px; }
.sideMenu ul{ padding-top: 20px;}
.sideMenu li a{color: #ccc; font-size: 14px; display:block; line-height:30px; padding:10px 20px 10px 10px; position: relative; }
.sideMenu li a span.glyphicon{ margin-right: 10px;}
.sideMenu li a i{ font-size:12px; position: absolute; right: 10px;top: 20px;}
.sideMenu ol{ display: none; background-color: #252a35; border-bottom: 1px solid #404859;}
.sideMenu ol a{ padding-left: 30px;}
.sideMenu li > a{border-left: 4px solid #2d3341;}
.sideMenu li.active > a{border-left: 4px solid #52cbeb;color: #fff; background-color: #000;}
.sideMenu li.active > a{ }
.sideMenu li:hover a{ color: #fff;}
.sideMenu li.active a span.glyphicon,.sideMenu li:hover a span.glyphicon{ color: #52cbeb;}
.sideMenu li.active ol{ display: block;}
.sideMenu .toTop{  margin-top: 20px;}
.sideMenu .toTop a{ color: #999; font-size: 14px; display:block; line-height:30px; padding:10px 20px 10px 14px; position: relative;}
.sideMenu .toTop a span.glyphicon{ margin-right: 10px;}


.main{width: 100%; padding: 10px 20px; padding-left:220px;}
/*响应式导航*/
@media( max-width:767px){
 .main{ padding-left: 20px!important;}
 .sideMenu{ width: 100%; min-height: auto!important; display: none; z-index: 100;}
 .toggleMenu{ float: right; margin-right: 10px;}
}
.footer{ width: 100%; height: 50px; position:absolute; bottom: 0px; left: 0px; background:#21252e; }
/*title*/
.title{ color: #666; font-size: 20px; line-height: 25px; padding-left: 10px; border-left: 4px solid #52cbeb; margin: 10px 0px;}
.title i{font-family: Arial; margin:0px 5px;}
/*table*/
.fixed-table-container{border: none; background-color: #fff;}
.bootstrap-table .table{ table-layout: fixed; width: 100%;}
.bootstrap-table .table thead>tr>th{ color: #52cbeb; }
.bootstrap-table .table thead>tr>th, .bootstrap-table .table tbody>tr>td{ border-left:none;border-bottom-color:#ccc; }
.bootstrap-table .table tbody>tr>td{ color: #666;}
.bootstrap-table .table tbody>tr>td a.label i{ margin-right:3px;}
.bootstrap-table .table tbody>tr:hover{ background-color:#f8f8f8;}
.fixed-table-container tbody .selected td{ background-color:#c1e9f5;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #52cbeb;
    border-color: #52cbeb;}
/*table-toolbar*/
.fixed-table-toolbar{ position: relative;}
.fixed-table-toolbar #toolbar{ margin-top: 15px;}
.fixed-table-toolbar .input-group{ min-width: 100px; max-width: 200px;}
.fixed-table-toolbar .bs-bars{float: none !important;}
.fixed-table-toolbar .bs-bars .input-group{ margin-top: 0px; margin-bottom:5px; }
.fixed-table-toolbar .bs-bars .form-inline > button.btn{ margin-bottom: 5px;}
.fixed-table-toolbar .form-inline.formBox{ padding-right:300px;}
.fixed-table-toolbar .pull-right{ position: absolute; top: -10px; display: inline-block;}
.fixed-table-toolbar .columns-right.pull-right{ right: 0px;}
.fixed-table-toolbar .pull-right.search{ width: 180px; right: 134px; margin-left: 20px;}
/*table-loading*/
.fixed-table-loading{ background-color: rgba(255, 255, 255, 0.4);}
.fixed-table-loading .glyphicon-animate {
	display: block;
	font-size: 20px;
    color: #999;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top:-10px;
    margin-left: -10px;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/*select样式重置*/
.bootstrap-select>.dropdown-toggle.bs-placeholder{ color: #333; border-radius: 4px;}
.dropdown-menu{ z-index: 1030;}
.input-group-btn:last-child>.btn{ border-radius: 4px;}
/*去掉   
 .input-group-btn:last-child>.btn{background-color:#373e51; border: none; color: #fff;}
 .bootstrap-select.open>.dropdown-toggle.btn-default:focus,.bootstrap-select.open>.dropdown-toggle.btn-default:hover{ background-color: #000; color: #fff}
*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{ background-color:#52cbeb;}
.dropdown-menu li.dropdown-header{ color: #777;}
/*时间选择*/
/*去掉 
.date .form-control{ background-color: #373e51; color: #fff; border-color: #373e51;} 
*/
.bootstrap-datetimepicker-widget{ display: block;}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{ background-color:#52cbeb; }
/*search*/
/*去掉  
.search .form-control,.input-group-addon{ color: #fff; background-color:#373e51; border:none;}
.search:hover .form-control,.search:hover .input-group-addon{ color: #fff; background-color: #000;}
*/
/*分页
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {background-color: #373e51;
    color: #52cbeb; border-color: #292c3b;}
.pagination>li>a, .pagination>li>span{ color: #fff; background-color: #373e51;border: 1px solid #292c3b;}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{background-color: #373e51;
    border-color: #292c3b; color: #fff;}
.fixed-table-pagination{ color: #fff; padding: 0px 10px;}*/

/*button*/
/*去掉  
.btn-default{ color: #fff; background-color: #373e51; border-color:#373e51; }
.btn-default:hover{ color: #fff; background-color: #000; border-color: #000; }
*/
.btn-primary{ background-color:#52cbeb; border-color:#52cbeb;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{ background-color:#52cbeb; border-color:#52cbeb;}
.btn-link{ color: #52cbe1; }
.btn-link:hover{ color: #52cbe1;}
.btn-link:focus{ color: #52cbe1;}
.btn-nobg{ background-color: transparent; border: none;}
.btn-nobg:hover{ color: #fff; background-color: transparent; border: none;}
.btn-blue{ background-color:#52cbeb; }
/*折叠*/
/*collapse折叠*/
.bgCollapse .collapse-header{ padding-left: 30px;}
.bgCollapse .control-label{ width: 120px; height: 34px; line-height: 34px; padding-left: 10px; background-color: #eaeaea; }
.bgCollapse .form-control{ color: #fff; width: 250px;}
.bgCollapse .form-group{ margin: 5px 30px;}
.bgCollapse .close{ color: #fff; opacity: 1;}
.bgCollapse .col-footer{ display:}
/*模态框*/
.modal-footer .btn-default{ color: #333; background-color: #fff; border-color: #ccc;}
/*tab菜单*/
.tab-content>.active{ color: #fff;}

/*顶部加载进度条*/
#progressBar{ 
	position: fixed;
	top:0px;
	z-index: 1031;
	height: 2px;
	background:#2085c5;
	transition:opacity 500ms linear;
}
#progressBar.done{
	opacity: 0;
}
#progressBar span{
	position: absolute;
	right: -10px;
	width: 150px;
	height: 2px;
	opacity: 1;
	-webkit-box-shadow:#2085c5 1px 0 6px 1px;
	-webkit-border-radius:100%;
	-webkit-animation:pulse 2s ease-out 0s infinite;
}
@-webkit-keyframes pulse{
	30% {
		opacity: .6;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: .6;
	}
}

